<div class="h-full w-full main-container">
  @if (isLoading) {
  <div
    class="fixed inset-0 z-50 flex justify-center items-center backdrop-blur-sm"
  >
    <app-loading></app-loading>
  </div>
  }

  <h1 class="flex justify-center font-semibold text-2xl bg-orange-100 p-3">
    CSV to JSON Converter
  </h1>
  <div class="w-full h-[1px] bg-orange-200"></div>
  <div class="flex justify-center items-center gap-x-14">
    <form [formGroup]="form" (ngSubmit)="previewForm()">
      <div class="flex flex-col pt-5 items-center gap-y-3">
        <div class="text-red-500 font-bold text-md">
          {{ errorMessage }}
        </div>

        <div
          class="flex flex-col gap-y-6 w-full max-w-[340px] lg:max-w-[380px]"
        >
          <!-- ssid -->
          <div class="relative flex flex-col">
            <label
              for="SSID"
              class="text-xs font-bold absolute z-10 left-3 -top-2 px-1"
              >SSID</label
            >
            <input
              type="text"
              id="SSID"
              formControlName="SSID"
              placeholder="Enter SSID"
              class="placeholder:text-gray-400 border border-orange-200 bg-white rounded px-4 py-3 focus:outline-none focus:ring-2 focus:ring-orange-200 focus:border-transparent focus:ring-offset-0 autofill:bg-white autofill:text-black autofill:shadow-[inset_0_0_0px_1000px_white]"
            />
          </div>

          <!-- Technical object type -->
          <div class="relative flex flex-col">
            <label
              for="technicalObjectType"
              class="text-xs font-bold absolute z-10 left-3 -top-2 px-1"
              >Technical Object Type</label
            >
            <input
              type="text"
              id="technicalObjectType"
              formControlName="technicalObjectType"
              placeholder="Enter technical object type"
              class="placeholder:text-gray-400 border border-orange-200 bg-white rounded px-4 py-3 focus:outline-none focus:ring-2 focus:ring-orange-200 focus:border-transparent focus:ring-offset-0 autofill:bg-white autofill:text-black autofill:shadow-[inset_0_0_0px_1000px_white]"
            />
          </div>

          <!-- Technical object Number -->
          <div class="relative flex flex-col">
            <label
              for="technicalObjectNumber"
              class="text-xs font-bold absolute z-10 left-3 -top-2 px-1"
              >Technical Object Number</label
            >
            <input
              type="text"
              id="technicalObjectNumber"
              formControlName="technicalObjectNumber"
              placeholder="Enter technical object number"
              class="placeholder:text-gray-400 border border-orange-200 bg-white rounded px-4 py-3 focus:outline-none focus:ring-2 focus:ring-orange-200 focus:border-transparent focus:ring-offset-0 autofill:bg-white autofill:text-black autofill:shadow-[inset_0_0_0px_1000px_white]"
            />
          </div>

          <!-- category name -->
          <div class="relative flex flex-col">
            <label
              for="categoryName"
              class="text-xs font-bold absolute z-10 left-3 -top-2 px-1"
              >Category Name</label
            >
            <input
              type="text"
              id="categoryName"
              formControlName="categoryName"
              placeholder="Enter category name"
              class="placeholder:text-gray-400 border border-orange-200 bg-white rounded px-4 py-3 focus:outline-none focus:ring-2 focus:ring-orange-200 focus:border-transparent focus:ring-offset-0 autofill:bg-white autofill:text-black autofill:shadow-[inset_0_0_0px_1000px_white]"
            />
          </div>

          <!-- positionn id -->
          <div class="relative flex flex-col">
            <label
              for="positionID"
              class="text-xs font-bold absolute z-10 left-3 -top-2 px-1"
              >Position ID</label
            >
            <input
              type="text"
              id="positionID"
              formControlName="positionID"
              placeholder="Enter position ID details"
              class="placeholder:text-gray-400 border border-orange-200 bg-white rounded px-4 py-3 focus:outline-none focus:ring-2 focus:ring-orange-200 focus:border-transparent focus:ring-offset-0 autofill:bg-white autofill:text-black autofill:shadow-[inset_0_0_0px_1000px_white]"
            />
          </div>

          <!-- file upload -->
          <div class="flex flex-col gap-y-1">
            <label for="csvFile" class="text-sm font-semibold"
              >Upload a CSV (Comma delimited *.csv) file
            </label>

            <div
              class="flex items-center justify-center border border-orange-200 bg-white rounded py-4 px-2 gap-x-3"
            >
              <input
                type="file"
                id="csvFile"
                (change)="fileChange($event)"
                class="w-[95%] overflow-hidden cursor-pointer file:mr-4 file:rounded-full file:border-0 file:bg-orange-50 file:px-4 file:py-2 file:text-sm file:font-semibold file:text-orange-400 hover:file:bg-orange-100"
              />
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="w-50 px-3 py-2 bg-orange-400 text-white rounded font-semibold cursor-pointer"
        >
          Preview
        </button>
      </div>
    </form>

    <!-- preview of the data -->
    <div class="flex flex-col w-1/2">
      <div
        class="w-full h-96 p-4 overflow-scroll border border-dashed border-orange-200 rounded-md bg-white"
      >
        @if(previewMode){
        <pre
          [innerHTML]="jsonData | prettyJsonPipe : [true, 3]"
          class="whitespace-pre-wrap text-left"
        ></pre>
        } @else{
        <div
          class="h-full flex items-center justify-center text-gray-400 font-semibold select-none"
        >
          Here you can preview JSON File
        </div>
        }
      </div>
      <div class="flex gap-x-5">
        <button
          (click)="DownloadForm()"
          [disabled]="!previewMode"
          class="w-full mt-4 px-3 py-2 bg-orange-400 text-white rounded-md font-semibold cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Download
        </button>
        <button
          (click)="CancelForm()"
          class="w-full mt-4 px-3 py-2 bg-gray-200 text-black rounded-md font-semibold cursor-pointer"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
